<div class="container">
	<div class="text-center">
		<h2>Question 2: Question</h2>
		<img src="~/Image/question2.jpg"/>
		<h3>Are Zebras black with white stripes or white with black stripes?</h3>
	</div>
</div>
