@model FinalGuess

<form asp-controller="Home" asp-action="End_1" method="post">

	<div class="border p-3 mt-4">
		<div class="row pb-2">
			<h2 class="text-primary">Place Answers!</h2>
			<hr />
			<br />
			<div asp-validation-summary="All" class="text-danger"></div>
		</div>
		<div class="mb-3">
			<label asp-for="Answer1"></label>
			<input asp-for="Answer1" class="form-control" autocomplete="off" />
			<span asp-validation-for="Answer1" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="Answer2"></label>
			<input asp-for="Answer2" class="form-control" autocomplete="off" />
			<span asp-validation-for="Answer2" class="text-danger" ></span>
		</div>
		<div class="mb-3">
			<label asp-for="Answer3"></label>
			<input asp-for="Answer3" class="form-control" autocomplete="off" />
			<span asp-validation-for="Answer3" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="Answer4"></label>
			<input asp-for="Answer4" class="form-control" autocomplete="off" />
			<span asp-validation-for="Answer4" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="Answer5"></label>
			<input asp-for="Answer5" class="form-control" autocomplete="off" />
			<span asp-validation-for="Answer5" class="text-danger"></span>
		</div>
		<button type="submit" class="btn btn-primary">Check</button>

	</div>

</form>