@model FinalGuess

<form asp-controller="Home" asp-action="End_Fake" method="post">

	<div class="border p-3 mt-4">
		<div class="row pb-2">
			<h2 class="text-primary">Add Movie</h2>
			<hr />
			<br />
			<div asp-validation-summary="All" class="text-danger"></div>
		</div>
		<div class="mb-3">
			<label asp-for="Answer1"></label>
			<input asp-for="Answer1" class="form-control" />
			<span asp-validation-for="Answer1" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="Answer2"></label>
			<input asp-for="Answer2" class="form-control" />
			<span asp-validation-for="Answer2" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="Answer3"></label>
			<input asp-for="Answer3" class="form-control" />
			<span asp-validation-for="Answer3" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="Image"></label>
			<input asp-for="Image" class="form-control" />
			<span asp-validation-for="Image" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="MPAARating"></label>
			<input asp-for="MPAARating" class="form-control" />
			<span asp-validation-for="MPAARating" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="Genere"></label>
			<input asp-for="Genere" class="form-control" />
			<span asp-validation-for="Genere" class="text-danger"></span>
		</div>
		<button type="submit" class="btn btn-primary">Add</button>

	</div>

</form>