@model User

<div>
	<h1>"You did it! Feel satisfied?"</h1>
	@if (Model.start_time != null)
	{
		<h2>Your time is @Model.ElapsedTime</h2>
		<h2>Your best time is @Model.BestTime</h2>
	} 
	else
	{
		<h2>You did it in 0 sec.</h2>
	}
	<a class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="Index">NO</a>

</div>