<!DOCTYPE html>
<html>
<div class="row">
	<div class="col-1" style="background-color: orange"></div>
	<div class="col-10 text-center">
		<head>
			<div id="hoverText" style="display: none">If only there was a way to /finish the test</div>
			<script type="text/javascript">
				function openPopup() {
					window.open('https://c.tenor.com/sLLmD-W4uBAAAAAC/sike-tyler-the-creator.gif', '_blank', 'width=600,height=400');
				}
			</script>
		</head>
		<body>
			<button id="hoverButton" type="button"><img src="https://3.bp.blogspot.com/-CaNpYb5edu4/T_6U8MJk82I/AAAAAAAAArQ/ilxiAbxjSLU/s1600/fireworks3.gif" /></button>
			<br />
			<br />
			<button class="btn btn-info btn-lg text-lg-center" onclick="openPopup()">
				Your Reward Awaits!
			</button>
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
			<script>
				$(document).ready(function () {
					$("#hoverButton").hover(function (e) {
						$("#hoverText").css({
							left: e.pageX + 10,
							top: e.pageY + 10
						}).fadeIn();
					}, function () {
						$("#hoverText").fadeOut();
					});
				});
			</script>
		</body>
	</div>
	<div class="col-1" style="background-color: orange"></div>
</div>
</html>