@{
	ViewData["Title"] = "Home Page";
}

<div class="container">
	<div class="text-center">
		<h1 class="display-4">Welcome</h1>

		<p>
			This is a school project where we had to build a webbased application.
			We decided to make a quiz which can be found using the button below.
			This quiz will use basic knowldge as well as your sleuthing ablities.
		</p>
		<h3>Good luck and have fun</h3>

		<br />
		<br />
		<br />

		<a asp-controller="Quiz" asp-action="QuestionPage">
			<img src="Image/Logo.png" width="800" />
		</a>

		@* <a asp-controller="Quiz" asp-action="Question2">
			<h4>question2</h4>
		</a> *@

		<br />
		@* <form asp-controller="Home" asp-action="QuizStart">
			<button type="submit" class="btn btn-success">This button needs to be connected</button>
		</form> *@
	</div>
	<br />
	<hr />
	<br />

</div>
