@{
	ViewData["Title"] = "Home Page";
}

<div class="text">
	<div class="text-center">
		<h1 class="display-4">Welcome</h1>
		<p>
			This is a school project where we had to build a webbased application.
			We decided to make a quiz which can be found using the button below.
			This quiz will use basic knowldge as well as your sleuthing ablities.
		</p>
		<h3>Good luck and have fun</h3>
		<button type="button" class="btn btn-success">This button needs to be connected</button>
		<br />
		<br />
		<img src="Image/Logo.png" width="800" />
	</div>

	<div>
		<form asp-controller="Home" asp-action="LogIn">
			<h3>Log In</h3>
			<h5>(this definitly wont steal your data and sell it)</h5>
			<div class="form-group">
				<label class="form-label mt-4">Email address</label>
				<input type="email" class="form-control" name="Email" placeholder="Enter email">
				<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else. ;)</small>
				<label class="form-label mt-4">Password</label>
				<input type="password" class="form-control" name="Password" placeholder="Password" autocomplete="off">
			</div>
			<button type="button" class="btn btn-success">This button needs to be connected</button>
		</form>
	</div>
</div>
