<div class="row">
    <div class="col-12">
        <img src="/Images/Circled1.jpg" width="200" height="200"/>
    </div>
</div>

<div class="col-12">
    <div class="row">        
        <h1>Question 1</h1>
        <p>What is the capital of France?</p>
    </div>
    <div class="row">
        <h1>Question 2</h1>
        <p>What is the capital of Italy?</p>
    </div>
</div>

<div class="col-12">
    <div class="row">
        <h1>Question 3</h1>
        <p>What is the capital of Spain?</p>
    </div>
    <div class="row">
        <h1>Question 4</h1>
        <p>What is the capital of Germany?</p>
    </div>
</div>

